/*   ---Tela de Login---   */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto slab;
}

header{
    text-align: center;
    top: 100px;
}

@keyframes contorno{
    from{
        border: 5px solid rgb(255, 255, 255);
        border-radius: 50%;
    }
    to{
       border: 5px solid rgb(0, 0, 0); 
    }
}
#titulo{
    animation: contorno 2s ease infinite alternate;
}

main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


body{
    background-color: #195ad3da;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0;

}

form{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 30px 40px;
    gap: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    
}

.Text_login{
    text-align: center;
    color: rgb(1, 69, 255);
    font-weight: bold;
    margin-bottom: 5px;
}

#BLogin, #BRegister{
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid;
    background-color: rgb(255, 255, 255);
    border-color: rgb(93, 109, 255);
    color: rgb(1, 69, 255);
    padding: 8px;
    width: 200px;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
}

#BRegister:hover, #BLogin:hover{
    
    background-color: rgb(93, 109, 255);
    color: rgb(255, 255, 255);
    border-color: #6791df;
    scale: 2;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}

input{
    border-radius: 10px;
    border-color: rgb(93, 109, 255);
    padding: 5px;
    align-items: center;
}

button{
    background-color: rgb(255, 255, 255);
    color: rgb(1, 69, 255);
    border-color: rgb(93, 109, 255);
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    animation-delay: 0.3s;
}

#cadastro{
    text-align: center;
}

footer{
    background-color: rgb(36, 39, 35);
    color: white;
    text-align: initial;
    font-size: 10px;
    display: flex;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: Roboto Slab;
}

/*     ---Media Quary---     */


/*Tablet*/
@media (max-width: 768px){
    body{
        background-color: rgb(0, 0, 0);
    }
    #titulo{
        width: 75%;
        height: 75%;
    }
}

/*Mobile Portrait*/
@media (max-width: 425px) {
    body{
        background-color: red;
    }
    form{
        width: 100vw;
        height: 100vh;
        border-radius: 0%;
        box-sizing: border-box;
        padding: 25%;
    }
    #titulo{
        width: 25%;
        height: 25%;
        display: none;
    }
}

/*Mobile Landscape*/
@media (orientation: landscape) and (max-height: 425px) {
    body{
        background-color: red;
    }
    form{
        width: 100vw;
        height: 100vh;
        border-radius: 0%;
        box-sizing: border-box;
        padding-bottom: 50%;
    }
    #titulo{
        width: 25%;
        height: 25%;
        display: block;
        margin: auto;
    }
}