/* Zerar o css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-custom3{
    background-color: rgb(255, 0, 0);
}
.btn-custom2{
    background-color: rgb(0, 128, 0);
}
.btn-custom1{
    background-color: blue;
}

.btn-custom1:hover{
    background-color: rgb(0, 0, 158) !important;
    transition: 0.3s;
}


.btn-custom2:hover{
    background-color: rgb(1, 82, 1) !important;
    transition: 0.3s;
}


.btn-custom3:hover{
    background-color: rgb(175, 0, 0) !important;
    transition: 0.3s;
}
